html, body {
    margin:0;
    padding:0;
    height:100vh;
    background-color: #ADD8E6;
    color: black;
    font-family: 'Cormorant Garamond', serif;
    width:100%;
  }
  
  header {
    padding: 1em 0em 0em 0em;
    height:20%;
    position: relative;
    left: -XXpx;
  }
  
  #root, .main-container {
    width: 100%;
  }
  
  .main-container h1 {
    text-align: center;
    margin-top:0;
    margin-bottom:.25em;
    font-size: 4em;
  }
  
  .main-container img {
    margin-top:1em;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }

  .search-container {
    text-align: center;
}

.search-container input {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size:1em;
    width:30%;
    border-radius: 2em;;
}
